 .loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../images/ajax-loader.gif) 
                50% 50% 
                no-repeat;
} 

/* .container{
	display: none;
} */

.main-buttons{
	border: 0 !important;
	-webkit-box-shadow : 0 !important;
	box-shadow : 0 !important;
	background : #FCFFDF !important;
}

#query{
	font-size: 25px;
}
